@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-size: 16px;
  --gray10: #616161;
  --purple: #B8C1EC;
  --blue: #232946;
}


html{
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  background: var(--blue);
  margin: 0;
  color: var(--purple);
}

hr{
  margin-block: 64px;
  border-color: rgba(97, 97, 97, 0.2);
}

h1 {
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
  line-height: 71px;
  margin-block-start: 20px;
  margin-block-end: 16px;
  color: white;
}

h2{
  font-size: 40px;
  margin-block: 40px;
  font-weight: 700;
  line-height: 48px;
  color: white;
}

h3{
  font-size: 32px;
  font-weight: bold;
  margin-block: 16px;
  line-height: 39.01px;
  color: white;
}

h4{
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.header-content{
  padding-inline: 20px;
}

header{
  font-size: 14px;
  color: var(--white30);
  inline-size: 208px;
}

header li{
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: normal;
  line-height: 24px;
  color: white;
}

pre{
  padding: 40px;
  overflow: auto;
  border-radius: 8px;
  margin-block-end: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFE;
}

.section-content{
  counter-reset: titleList;
}

.section-content h3{
  counter-increment: titleList;
}

.section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}

.section-content:first-of-type h3::before{
  content: counter(titleList, decimal)'. ';
}

.wrapper{
  margin: auto;
  max-inline-size: 903px;
}

blockquote {
  font-weight: 400;
  line-height: 32px;
  font-size: 24px;
  margin-block-start: 64px;
  margin-block-end: 64px;
  padding-inline-start: 24px;
  padding-block: 24px;
  margin-inline-start: 0;
  background: #D4939D;
  border-radius: 8px;
  color: #232946;
}

blockquote p {
  margin-block: 0;
  color: black
}

blockquote p:first-child{
  margin-block-end: 16px;
}

blockquote p:last-child::before{
  content: '-';
}

.main hr {
  display: none;
}

.main hr:first-of-type{
  display: block;
}

.main-content{
  padding-inline: 16px;
}

.slider-container{
  display: block;
  overflow: hidden;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.slider-slide{
  margin: 0;
  display: inline-block;
  width: 100%;
}

.video{
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list{
  margin-block-start: 10px;
  text-align: center;
}

.slider-bullet{
  color: white;
  display: inline-block;
  inline-size: 17px;
  block-size: 17px;
  background: white;
  border-radius: 50%;
  text-decoration: none;
  margin-bottom: 40px;
}

.form{
  display: block;
}

.form input{
  inline-size: 100%;
  border: 1px solid white;
  background: var(--blue);
  box-sizing: border-box;
  border-radius: 8px;
  padding-inline: 16px;
  padding-block: 12px;
  font-size: 16px;
  display: block;
  margin-block-end: 24px;
  color: white;
}

.form input[type="submit"]{
  background:#EEBBC3;
  color: black;
  font-weight: bold;
  border: none;
}

.form input::-webkit-input-placeholder{
  color: white;
}

.variants{
  margin-block-end: 40px;
}

.variants summary{
  list-style: none;
}

.variants summary::-webkit-details-marker {
  display:none;
}

.variants ul{
  list-style-type: none;
  padding-inline-start: 8px;
}

.variants li{
  padding-inline-start: 8px;
  padding-block: 8px;
}

#NemiumE{
  background: #000000;
  border-radius: 4px;
}

#NemiumE a{
  color: white;
}

.formulario{
  padding-block-end: 80px;
}

footer{
  background: #EEBBC3;
}

footer p{
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 43.65px;
  color: white;
  padding-block-start: 48px;
}

.footer-content{
  text-align: center;
}

.footer-content img{
  margin-block-start: 16px;
  margin-block-end: 50px;
}

.resumeC{
  display: none;
}

#lineC{
  display: none;
}

.remark{
  font-weight: bold;
}

.section-content ul li{
  list-style: none;
  font-weight: normal;
  line-height: 24px;
  margin-block: 16px;
}

.section-content ul li::before{
  content: "\2022";
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 10px;
  margin-left: -10px;
  font-size: 19px;
}

.box-model h3{
  margin-block-start: 40px;
}

.options-header li{
  padding-block: 8px;
}

.head-cont summary{
  font-weight: 700;
  font-size: 14px;
}

nav a{
  color: #B8C1EC;
}

h4{
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.section-content:last-of-type h3::before{
  content: '';
}

.box-model-slider h3::before{
  content: '';
}

.box-model h2{
  font-weight: 600;
  font-size:32px
}

.box-model h3{
  font-weight: 400;
}

.box-model-slider h3{
  font-weight: 400;
}

.email-to-send{
  color: #EEBBC3;
}

.variants {
  margin-block-start: 24px;
}

@media screen and (min-width: 1366px) {
  h1{
    font-size: 60px;
    margin-block-start: 100px;
  }

  .variants{
    margin-block-start: 0;
    margin-block-end: 104px;
  }

  .header{
    position: sticky;
    inset-block-start: -45px;
    margin-block-end: 64px;
  }

  header {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -230px;
  }

  .header-content{
    position: relative;
    inset-block-start: 60px;
    padding-inline: 0;
  }

  .box-model{
    margin-block-start: 80px;
    margin-block-end: 84px;
  }
}